:root {
  --colorTexto: #282fe6;
  --colorTexto2:#f1eded;
  --colorFondo: #b153d5;
  --colorBotonOver:#2e86c1;
  --colorBotonCajera:#c0392b;
  
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*background-color: var(--colorFondo);*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-image: url("fondoSuper.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

.contenedor {
  /* max-width: 100%;*/
  height: auto;
  /*   max-width: 100%; */
  max-width: 0 auto; /*tamaño del contenedor 1200pixeles =120rem*/
  /*max-width: 100%;*/
  margin: 0 auto; /*margen del contenedor*/
}
img {
  width: 100%;
  height: auto;
}
.texto {
  text-align: center;
  font-size: 3.5rem;
}
.contadorCaja{
  font-size: 2rem;
}
.enlace {
  text-decoration: none;
  font-size: 1.6rem;
}
a:hover {
  font-size: 20px;
  color: var(--colorTexto);
}
a {
  color:var(--colorBotonCajera);
}

.header {
  text-align: center;
  font-size: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.producto_imagen {
  width: 100%;
  cursor: pointer;
  /*forma de imagen*/
  border-radius: 200px 200px 67px 200px;
  -moz-border-radius: 200px 200px 67px 200px;
  -webkit-border-radius: 200px 200px 67px 200px;
  border: 2px solid #4f82e8;
  -webkit-box-shadow: -11px -11px 5px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: -11px -11px 5px -4px rgba(0, 0, 0, 0.51);
  box-shadow: -11px -11px 5px -4px rgba(0, 0, 0, 0.51);
  /*fin de forma de imagen*/
}
.producto_imagen:hover {
  margin-top: 2px;
}
/*MODO OSCURO*/
.oscuro {
  background-image: none;
  background-color: #252e2e;
  color:var(--colorTexto2) ;
}
/*imagen picture*/
.posicion {
  display: block;
  margin: 0 auto;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  max-width: 100%;
  height: 100vw;
  background-image: url("estilos/tienda.jpg");
  opacity: 0.8;
  z-index: -1;
}

.button {
  bottom: 4em;
  right: 4em;
  cursor: pointer;
  background-color:var(--colorBotonCajera) ;
  border-radius: 1.5em;
  color: var(--colorTexto2);
  text-transform: uppercase;
  padding: 1em 1.5em;
  display: block;
}

button:hover {
  background-color: var(--colorTexto);
}
